<!--страница с авторами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторы</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Авторы библиотеки</h1>
    <a
            sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('ROLE_LIBRARIAN'))"
            th:href="'authors/add'"
            class="btn btn-secondary"
            role="button"
            style="float: right"
            aria-disabled="true">Добавить автора</a>
    <div>

    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Годы жизни</th>
            <th scope="col">Краткое описание</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <!--Перебор авторов-->
        <tr th:each="author: ${authors}">
            <td th:text="${author.authorFIO}"></td>
            <td th:text="${author.lifePeriod}"></td>
            <td th:text="${author.description}"></td>
            <td>
                <a th:href="'/authors/authorInfo/'+${author.id}"
                   class="btn btn-primary"
                   role="button"
                   aria-disabled="true">Посмотреть книги
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Pagination" th:if="${authors.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${authors.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/authors?page={id}(id=${authors.number lt 2 ? 1 : authors.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq authors.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, authors.totalPages, 1)}">
                <a class="page-link" th:href="@{/authors?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${authors.number eq authors.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/authors?page={id}(id=${authors.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <button class="btn btn-secondary" onclick="window.history.back()">Назад</button>
</div>
</body>
</html>